# Ignore virtual environment
venv/
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore SQLite or unwanted DB files (we are using PostgreSQL)
*.db

# Ignore environment files
.env

# Ignore output CSV if you want
output/*.csv
